/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.sticky {
	position: sticky !important;
	position: -webkit-sticky !important;
	z-index: 5;
	top: 10px;
}

.fb-comments, .fb-comments span, .fb-comments iframe { width: 100% !important; }

.rsw-editor {
	min-height: 400px !important;
}